<%= form_with(model: preprocess_algorithm, local: true) do |form| %>
  <% if preprocess_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preprocess_algorithm.errors.count, "error") %> prohibited this preprocess_algorithm from being saved:</h2>

      <ul>
      <% preprocess_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div>
      <%= form.label 'category' %>
      <%= form.text_field 'category', class: 'form-control' %>
    </div>
    <div>
      <%= form.label 'module_name' %>
      <%= form.text_field 'module_name', class: 'form-control' %>
    </div>
    <div>
      <%= form.label 'class_name' %>
      <%= form.text_field 'class_name', class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'update' %>
  </div>
<% end %>
