<p id="notice"><%= notice %></p>

<h1>Preprocess Algorithms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preprocess_algorithms.each do |preprocess_algorithm| %>
      <tr>
        <td><%= link_to 'Show', preprocess_algorithm %></td>
        <td><%= link_to 'Edit', edit_preprocess_algorithm_path(preprocess_algorithm) %></td>
        <td><%= link_to 'Destroy', preprocess_algorithm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preprocess Algorithm', new_preprocess_algorithm_path %>
