<p id="notice"><%= notice %></p>

<h1>Preprocess Algorithms</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>category</th>
      <th>module name</th>
      <th>class name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @preprocess_algorithms.each do |preprocess_algorithm| %>
      <tr>
        <td><%= preprocess_algorithm.category %></td>
        <td><%= preprocess_algorithm.module_name %></td>
        <td><%= preprocess_algorithm.class_name %></td>
        <td><%= link_to 'Edit', edit_preprocess_algorithm_path(preprocess_algorithm) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to 'Add', new_preprocess_algorithm_path %>
</div>
