<p id="notice"><%= notice %></p>

<h1>Classification Training Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classification_training_results.each do |classification_training_result| %>
      <tr>
        <td><%= link_to 'Show', classification_training_result %></td>
        <td><%= link_to 'Edit', edit_classification_training_result_path(classification_training_result) %></td>
        <td><%= link_to 'Destroy', classification_training_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classification Training Result', new_classification_training_result_path %>
