<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Classification Training Results</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>algorithm name</th>
      <th>accuracy</th>
      <th>recall</th>
      <th>f1</th>
    </tr>
  </thead>

  <tbody>
    <% @classification_training_results.each do |r| %>
      <tr>
        <td>
          <%= r.training_request.machine_learning_algorithm.class_name %>
        </td>
        <td><%= r.accuracy %></td>
        <td><%= r.recall %></td>
        <td><%= r.f_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
