<p id="notice"><%= notice %></p>

<h1>Preprocesses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preprocesses.each do |preprocess| %>
      <tr>
        <td><%= link_to 'Show', preprocess %></td>
        <td><%= link_to 'Edit', edit_preprocess_path(preprocess) %></td>
        <td><%= link_to 'Destroy', preprocess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preprocess', new_preprocess_path %>
