<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col col-lg-3">
    <h1>Project List</h1>
  </div>
</div>

<div class="row">
  <div class="col col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Purpose</th>
          <th>Updated At</th>
          <th>Created At</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= project.purpose %></td>
          <td><%= project.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= project.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= link_to 'edit', edit_project_path(project) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
