<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="col">
    <h1><%= @project.name %></h1>
    <%= link_to 'Add data', new_project_project_datum_path(@project) %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Data list</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Updated At</th>
          <th>Created At</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
      <% @project_data.each do |project_datum| %>
        <tr>
          <td><%= link_to project_datum.name, project_datum_path(project_datum) %> </td>
          <td><%= project_datum.description %></td>
          <td><%= project_datum.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= project_datum.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= link_to "edit", edit_project_datum_path(project_datum) %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
