<%= form_with(model: [project_datum.project, project_datum], local: true) do |form| %>
  <% if project_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_datum.errors.count, "error") %> prohibited this project_datum from being saved:</h2>

      <ul>
      <% project_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.file_field 'data' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
