<p id="notice"><%= notice %></p>

<h1>Project Data</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_data.each do |project_datum| %>
      <tr>
        <td><%= link_to 'Show', project_datum %></td>
        <td><%= link_to 'Edit', edit_project_datum_path(project_datum) %></td>
        <td><%= link_to 'Destroy', project_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Datum', new_project_datum_path %>
