<!--
<div class="row">
  <div class="col">
    <div id="new_project_file_upload_box" class="new_project_file_upload_box">
      <div>
        Drag n Drop your data here.
      </div>
    </div>
  </div>
</div>
-->

<div class="row">
  <div class="col col-lg-4">
    <div class="new_project_form">
    <%= form_with(model: [@project, @project_datum], local: true) do |form| %>
    <div class="form-group">
      <div class="col">
        <%= form.label 'name' %>
        <%= form.text_field :name, value: "project data", class: 'form-control' %>
      </div>
      <div class="col">
        <%= form.label 'description' %>
        <%= form.text_field :description, class: 'form-control' %>
      </div>
      <div class="col">
        <%= form.label 'file' %>
        <%= form.file_field :upload_file, :id => 'upload_file' %>
      </div>
      <div class="col">
        <%= form.submit "Upload" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
