<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="col">
    <h1><%= @project_datum.name %></h1>
    <%= link_to 'rename', '#', {'data-toggle' => "modal", 'data-target' => "#modal-window"} %>
  </div>
</div>
<div class="row">
  <div class="col">
  <%= form_with model: @project_datum, url: process_columns_path, method: 'post' do |form| %>
  <%= form.hidden_field :id %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>-</th>
          <th>name</th>
          <th>type</th>
          <th>active</th>
          <th>target</th>
          <th>created at</th>
        </tr>
      </thead>
      <tbody>
      <% @project_datum.project_datum_columns.each do |c| %>
        <tr class="<%= 'deactive_column' if !c.active %>">
          <td><%= check_box_tag "project_datum_columns[id][]", c._id %></td>
          <td><%= c.name %></td>
          <td><%= c.type %></td>
          <td>
            <%= c.active %>
            <%= button_tag 'toggle', "data-project-datum-columns-id" => c._id, :class => "column_active_toggle" %>
          </td>
          <td>
            <%= c.target %>
            <%= button_tag 'target', "data-project-datum-columns-id" => c._id, :class => "column_target_toggle" %>
          </td>
          <td>
            <%= c.created_at %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="actions">
  <%= hidden_field_tag "process_columns_request[task]", "columns_type" %>
  <%= submit_tag 'analyze columns', :class => 'btn btn-primary' %>
  <%= button_tag 'preprocessing', :id => 'preprocessing', :class => 'btn btn-primary' %>
</div>
<% end %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel">Edit</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <%= render :partial => 'modal_edit', locals: {:project_datum => @project_datum} %>
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
