<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="col">
    <h1><%= @project_datum.name %></h1>
    <%= link_to 'rename', '#', {'data-toggle' => "modal", 'data-target' => "#modal-window"} %>
  </div>
</div>
<div class="row">
  <div class="col">
  <%= form_with model: @project_datum,
                url: process_columns_path,
                method: 'post',
                id: 'process_columns_form' do |form| %>
  <%= form.hidden_field :id %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= check_box_tag 'check_all' %></th>
          <th>name</th>
          <th>
            type
          </th>
          <th>active</th>
          <th>target</th>
          <th>missing</th>
          <th>count</th>
          <th>std</th>
          <th>mean</th>
          <th>min</th>
          <th>25%</th>
          <th>50%</th>
          <th>75%</th>
          <th>max</th>
          <th>created at</th>
          <th>updated at</th>
        </tr>
      </thead>
      <tbody>
      <% @project_datum.project_datum_columns.each do |c| %>
        <tr class="<%= 'deactive_column' if !c.active %>
                  <%= 'target_column' if c.target %>
                  ">
          <td><%= check_box_tag "project_datum_columns[id][]", c._id if !c.target %></td>
          <td><%= c.name %></td>
          <td><%= c.type %></td>
          <td>
            <%= button_tag c.active ? "deactive" : "actvie",
                           "data-project-datum-columns-id" => c._id,
                           :class => "column_active_toggle" %>
          </td>
          <td>
            <% if !c.target and c.active%>
              <%= button_tag "target",
                              "data-project-datum-columns-id" => c._id,
                              :class => "column_target_toggle" %>
            <% end %>
          </td>
          <td><%= c.missing %></td>
          <td><%= c.count %></td>
          <td><%= c.std.round(2) %></td>
          <td><%= c.mean.round(2) %></td>
          <td><%= c.min.round(2) %></td>
          <td><%= c.quarter.round(2) %></td>
          <td><%= c.half.round(2) %></td>
          <td><%= c.three_quarters.round(2) %></td>
          <td><%= c.max.round(2) %></td>
          <td><%= c.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= c.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="actions">
  <%= hidden_field_tag "process_columns_request[task]", "columns_type" %>
  <%= submit_tag 'analyze column type', :id => 'analyze' %>
</div>
<% end %>
<%= button_tag 'data cleaning', :id => 'data_cleaning', :class => 'btn btn-success' %>
<%= button_tag 'preprocessing', :id => 'preprocessing', :class => 'btn btn-primary' %>
<%= link_to 'training',
              select_ml_algorithms_path(project_datum_id:  @project_datum.id),
              :id => 'training',
              :class => 'btn btn-danger',
              method: 'get' %>

<%= link_to 'models',
              classification_training_results_path(project_datum_id:  @project_datum.id),
              :id => 'models',
              :class => 'btn btn-warning',
              method: 'get' %>

<div class="row">
  <div class="col-lg-6 offset-col-lg-3">
    <h2>Preprocess History</h2>
    <table class="table table-hover">
      <th>
        <td>#</td>
        <td>name</td>
        <td>target columns</td>
      </th>
      <tbody>
        <% @project_datum.process_columns_requests.each_with_index do |c, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= c.task %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel">Edit</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <%= render :partial => 'modal_edit', locals: {:project_datum => @project_datum} %>
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
